<header class="bgc-primary">
    <div class="container header-wrapper d-flex jcsb px-sm-0">
        <div class="logo"><a href="index.html"><img src="../assets/images/logo-white.png" alt="LOGO" /></a></div>
        <ul class="nav header-nav textColor-white d-flex aic">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a class="pr-0" href="#">常見問題</a></li>
        </ul>
    </div>
</header>